
# Python 3.8
flake8
numpy
pandas
scikit-learn
sklearn_pandas
# pyspark==2.4.0
matplotlib
seaborn
imblearn
pyyaml==6.0
# pyreadr==0.4.4 # pyreadr 0.4.4 depends on pandas>=1.2.0  
#skimpy # requires python >=3.7.1,<4.0.0
pyarrow
xgboost
Boruta
statsmodels
openpyxl
optuna
Jinja2
feature-engine
lightgbm